.profiles {
  position: relative;
  top:-70px;
}

.section-name {
  left: 50%;
  transform: (translateX(-50%));
  @include dialogue(1.2rem, 0.2rem, 100%, 20px){
    z-index: 1;
  }
  @include rwd($tablet) {
    width: 35%;
  }
  @include rwd($desktop) {
    width: 30%;
  }
}

.profiles-content {
  width: 100%;
  @include rwd($tablet) {
    display:flex;
    flex-wrap:wrap;
  }
  
}
/* 圖片容器 */
.profile-img {
  position:relative;
  // width: 100%;
  flex-basis: 100%;
  height: auto;
  @include rwd($tablet) {
    // width: 50%;
    flex-basis: 50%;
  }
  @include rwd($desktop) {
    // width: 25%;
    flex-basis: 25%;
  }
  
}
/* 圖片本身 */
.profile-img img {
  display:block;
  width:100%;
  height:100%;
}
/* 滑鼠滑過圖片的狀態 -> 包住文字的區塊 */
.profile-img:hover .profile-img-hover {
  opacity:.7;
  @include rwd($tablet) {
    opacity:1;
  }
}
/* 包住文字的區塊 */
.profile-img-hover {
  position:absolute;
  top:0;
  width:100%;
  height:100%;
/* 用 flex 把內容居中 */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -moz-box-align: center;
  -webkit-box-align:center;
  align-items: center;
  background-color: #fc5d8a;
  opacity:0;
  transition:opacity 0.4s ease-in 0.1s;
}
/* 滑鼠滑過圖片的狀態 -> 出現文字 */
.profile-img:hover .profile-text h5 {
  display:block;
}
.profile-text h5 {
  font-size:1.5rem;
  color:#fff;
}
