// 顏色變數
$primary-color:#ff0048; // 正桃紅
$secondary-color:#fc5d8a; // 粉紅
$third-color:#360836; // 深紫
$light-color:#f4f4f4;
$dark-color:#333;
$header-link: #A178A3;
$black-color:#000;
$white-color: #fff;

// 字體變數
$font-stack-serif: Georgia, serif;
$font-stack-sans-serif: 'Ropa Sans', sans-serif;
$font-base: 'Source Sans Pro', sans-serif;
$font-title: 'Noto Serif', serif;
$font-subtitle:'Lobster', cursive;

// 網頁寬度
$wrap-max-width:1280px;